@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #0097D9;
  --color-secondary: #00365F;
  --color-tertiaty: #99a0a3;
}

/* .text-primary{
  color: var(--color-primary);
}

.bg-primary{
  background-color: var(--color-primary);
  color:white;
}  */


.logo-filter{
  filter: brightness(0) saturate(100%) invert(16%) sepia(22%) saturate(4913%) hue-rotate(183deg) brightness(98%) contrast(102%);
}

/* a { 
  @apply ;
} */

/* a:hover {
  @apply border-b-2;
} */



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
